<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=toolboothstoragealex;AccountKey=whIHPc9W6HdJ8tlepMNVJAIMs/9dkmuD+SD1MvK0fIoxjZaK9j1Hkkv++qxE5EQsfTpDZTSzQoezpHYbouQmuw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>